{% extends 'layout.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block body %}


{% block css %}
{% endblock %}

<div class="twoborderclip coffee-passion">
  <div class="border-div-style2"></div>
  <div class="three-style2">
    <p class="best-drinking-2 coffee-pppp">COFFEE PASSION</p>
  </div>
  <div class="border-div-style3"></div>
</div>
<p class=" our-menu-para-om2">TODAY'S GOOD MOOD IS SPONSORED BY<span class="coffee-spacial-para-style">COFFEE</span></p>
<button class="order-online-btn">ORDER ONLINE</button>
</div>

<!-- decilious section -->



<!-- decilious food -->
<div class="our-menu-main-div1">
  <div class="budhiloveanu vr-style">
    <div class="three-style">
      <div class="twoborderclip">
        <div class="border-div-style"></div>
        <div class="three-style2">
          <p class="best-drinking">BEST DRINKS</p>
        </div>
        <div class="border-div-style2"></div>
      </div>

      <div>
        <h1 classs="coffees">COFFEES & TEAS</h1>
      </div>
    </div>

    {% for x in tea %}
    <div class="our-in-div menu-all-div-padding">
      <img class="our-grid-allimg" src="{{ x.image.url }}" alt="" />
      <div class="menu-wrapper">
        <div class="our-in-div">
          <h3 class="marbled-head menu-para-margin">{{ x.name}}</h3>
          {% if x.available %}
          <p><span class="seasonal menu-para-margin">Available</span></p>
          {% else %}
          <p><span class="seasonal menu-para-margin">Unavailable</span></p>
          {% endif %}
          <div class="two-div-border-style menu-para-margin"></div>
          <p class="menu-para-margin">{{ x.price }}</p>
        </div>
        <p class="menu-para-margin condensed">{{ x.description}}</p>
      </div>
    </div>
    {% endfor %}


  </div>

  <!-- menu second grid -->

  <div class="menusecgrid">
    <div class="three-style">
      <div class="twoborderclip">
        <div class="border-div-style"></div>
        <div class="three-style2">
          <p class="best-drinking">BEST BREACKFAST</p>
        </div>
        <div class="border-div-style2"></div>
      </div>

      <div>
        <h1 classs="coffees">LUNCH & BAKERY</h1>
      </div>
    </div>

    {% for x in bakery %}
    <div class="our-in-div menu-all-div-padding">
      <img class="our-grid-allimg" src="{{ x.image.url }}" alt="" />
      <div class="menu-wrapper">
        <div class="our-in-div">
          <h3 class="marbled-head menu-para-margin">{{ x.name}}</h3>
          {% if x.available %}
          <p><span class="seasonal menu-para-margin">Available</span></p>
          {% else %}
          <p><span class="seasonal menu-para-margin">Unavailable</span></p>
          {% endif %}
          <div class="two-div-border-style menu-para-margin"></div>
          <p class="menu-para-margin price">{{ x.price }}</p>
        </div>
        <p class="menu-para-margin condensed">{{ x.description}}</p>
      </div>
    </div>

    {% endfor %}
  </div>
</div>



</div>
<!-- grid3 -->



<!-- grid2-section -->
<h1 class="all-day-brunch">We Also Have All-day Brunch!</h1>
<div class="main-grid2-section">

  <!-- grid2-section -->
    {% for x in lunch %}
    <div class="menu-grid2">
      <img class="our-grid2-img-style" src="{{ x.image.url }}" alt="">
      <div class="grid2-in-div">
        <p class="spaghetti-para">{{ x.name }}</p>
        <p class="twenty-nine-para">{{ x.price }}</p>
      </div>
      <p class="grid-div-para">{{ x.description }}</p>
    </div>
    {% endfor %}

</div>



  <div class="order-btn-div2">
    <button class="order-online-btn2">VIEW FULL MENU</button>
  </div>

  <div class="center-grid-style-div">
    <div class="center-grid-content-1 grid-img">
    </div>
    <div class="center-grid-content-2 grid-img ">
    </div>
    <div class="center-grid-content-3 grid-img ">
    </div>
    <div class="center-grid-content-4 grid-img ">
    </div>
    <div class="center-grid-content-5 grid-img ">
    </div>
    <div class="center-grid-content-6 grid-img ">
    </div>
    <div class="center-grid-content-7 grid-img ">
    </div>
    <div class="center-grid-content-8 grid-img ">
    </div>
    <div class="center-grid-content-9 grid-img ">
    </div>
    <div class="center-grid-content-10 grid-img ">
    </div>
    <div class="center-grid-content-11 grid-img ">
    </div>
    <div class="center-grid-content-12 grid-img ">
    </div>
    <div class="center-grid-content-13 grid-img ">
    </div>
    <div class="center-grid-content-14 grid-img ">
    </div>
    <div class="center-grid-content-15 grid-img ">
    </div>
    <div class="follow-insta-div">
      <p class="follow-us-insta">Follow Us on Instagram</p>
    </div>
  </div>
  <div class="main-grid-redies-img-div">
    <div class="grid-border-left-div2">
      <img class="redies-img22 " src="{% static './photos/gird.redies.img' %}" alt="">
    </div>

    <div class="main-grid-redies-img-div-in-div2">
      <div class="hey-display-flex">
        <p class="hey-welcome-para">HEY! WELCOME TO PATIO TIME CAFE</p>
        <div class="div-border-style5"></div>
      </div>
      <p class="our-story2-para">OUR STORY</p>
      <div class="grid-style-para5">
        <p class="para-line-hight">Food is the foundation of true happiness. Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit aenean commodo.</p>
        <p class="para-line-hight">We see our customers as invited guests to a party, and we are the hosts. It’s our job
          every day to make every important aspect of the customer experience a little bit better. Donec quam felis,
          ultricies nec, pellentesque eu.</p>
      </div>
      <button class="discover-more-btn">DISCOVER MORE</button>
    </div>
  </div>
  <div class="last-grid-main-wraper2">
    <div class="hey-display-flex hey-display-flex2">
      <p class="hey-welcome-para">DON'T MISS OUR NEW ARTICLES</p>
      <div class="div-border-style5"></div>
    </div>
  
      
    <div class="latest-news-and-visit-btn">
      <h1> LATEST NEWS </h1>
      <button class="visit-our-blog-btn"> <span class="visit-our-blog">VISIT OUR BLOG</span> </button>
    </div>
  
    <div class="last-grid-section-wraper-div2">
    {% for x in post %}
      <div class="last-grid-first-img">
        <a href="{% url 'blogpost' x.id %}"><img class="grid11-img" src="{{ x.featured_image.url  }}" alt=""></a>
        <div class="para-and-head">
          <p class="aprial-para">{{ x.author}}</p>
          <h2>{{ x.post_title}}</h2>
        </div>
      </div>
      {% endfor %}
 
    </div>
  </div>   

  {% endblock %}